.login {
  width:100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  width: 18rem;
}

.card-title {
  text-align: center;
}

.card-text {
  text-align: center;
}

.buttonWrap {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.btn {
  width: 45%;
  text-align: center;
}

.svg-icon {
  position: relative;
  top: 0.125em;
  flex-shrink: 0;
  height: 1em;
  width: 1em;
  fill: currentColor;
  transition: fill 0.3s;
  margin-left: 1em;
}

.registerLogin {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
