.navBarContainer {
    background-image: url('https://cdn.pixabay.com/photo/2016/03/23/17/33/curtain-1275200__340.png');
    opacity: 2;
    position: fixed;
    width: 100%;
    z-index: 1;
    font-size: x-large;
    padding-left: 21px;
    box-shadow: 1px 3px 4px 0 rgba(7, 7, 7, 0.424), 0 4px 15px 0 rgba(0, 0, 0, 0.623);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    color: #FFFFC7;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
}

.link {
    text-decoration: none;
}

.boton {
    border-radius: 20%;
    color: white;
    background-color: #540B0E;
    box-shadow:3px 2px 5px 1px #ccc;
    border: none;
}

.boton:hover {
    background-color: rgba(84, 11, 14, 0.8);
    color: #EB4511;
}




